@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  margin-left: 15rem;
}

.section {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid rgb(224, 224, 224);
}

h2 {
  align-self: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}
