.homeSection {
  background-image: url("/images/home-bk.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.textContainer p {
  font-size: 1.5rem;
  font-weight: normal;
}
